body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}
.back{
    background-color: #191D1D;
}
.container{
    margin-left: 390px;
    width: 1140px;
}


.header-container{
    background-image: url(../Image/BG.png);
    height: 689px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 32px;
    height: 39px;
    width: 1140px;
    color: #FFFFFF;
}
.header_menu{
    display: flex;
    justify-content:space-between;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 22px;
    width: 433px;
    padding-left: 320px;
}
.header_button{
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../Image/BG_button.png);
    height: 39px;
    width: 229px;
    letter-spacing: 8px;
}


.SectionOne{
    margin-bottom: 100px;
}
.SectionOne_TextOne{
    font-weight: 400;
    font-size: 16px;
    line-height: 23.92px;
    letter-spacing: 6.88px;
    color: #6D7D7D;
}
.SectionOne_TextTwo{
    font-weight: 400;
    font-size: 40px;
    line-height: 59.8px;
    color: #FFFFFF;
    margin: 0px
;
}
.SectionOne_TextThree{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF;
}


.sectionTwo{
    margin-bottom: -150px;
}
.sectionTwo_GridContainer{
    display: grid;
    grid-template-columns: 22% 22% 22% 32%;
    grid-column-gap: 8px;
    grid-template-areas:
    'imgOne imgTwo imgThree ButtonArea'
    'imgOne imgTwo CellsText CellsText';
}
.SectionTwo_ImageOne{
    grid-area: imgOne;
}
.SectionTwo_ImageTwo{
    grid-area: imgTwo;
}
.SectionTwo_ImageThree{
    grid-area: imgThree;
}
.SectionTwo_ButtonArea{
    grid-area: ButtonArea;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.SectionTwo_CellsButton{
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../Image/BG_button.png);
    height: 39px;
    width: 229px;
    letter-spacing: 8px;

}
.SectionTwo_Button{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.SectionTwo_CellsText{
    grid-area: CellsText;
    display:flex;
    justify-content: space-evenly;
}
.CellsText_GroupOne_TextOne, .CellsText_GroupTwo_TextOne, .CellsText_GroupThree_TextOne{
    color: #6D7D7D;
    font-size: 40px;
    font-weight: 400;
    line-height: 59.8px;
}
.CellsText_GroupOne_TextTwo, .CellsText_GroupTwo_TextTwo, .CellsText_GroupThree_TextTwo{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.92px;
    letter-spacing: 6.88px;
}


.sectionThree{
    height: 318px;
    margin-bottom: 100px;
    position: relative;
    top: 262px;
}
.sectionThree_Back{
    background-color: #212828;
    height: 318px;
    border-radius: 50px 50px 0px 50px;
    background-image: url(../Image/Ellipse\ 2.png);
    background-repeat: no-repeat;
}
.sectionThree_Text{
    font-weight: 400;
    font-size: 40px;
    line-height: 59.8px;
    color:#FFFFFF;
    padding-left: 512px;
    padding-top: 61px;
}
.sectionThree_buttonArea{
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../Image/BG_button.png);
    height: 39px;
    width: 229px;
    letter-spacing: 8px;
    margin-left: 512px;
    margin-top: 40px;
}
.sectionThree_button{
    text-decoration: none;
    color:rgb(255, 255, 255);
}


.BlackBG{
    height: 1112px;
    background-color:#131616;
}

.sectionFour{
    height: 571px;
}
.sectionFour>.container{
    position: relative;
    top: 275px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas:
    'CellsText imgOne imgTwo'
    'CellsText ButtonArea imgThree';        
}
.sectionFour_TextArea{
    color: #FFFFFF;
    grid-area: CellsText;

}
.sectionFour_TextOne, .sectionFour_TextFour{
    font-weight: 400;
    font-size: 16px;
    line-height: 23.92px;
    letter-spacing: 6.88px;
    color: #6D7D7D;    
}
.sectionFour_TextTwo{
    font-weight: 400;
    font-size: 40px;
    line-height: 59.8px;
    color: #FFFFFF;    
}
.sectionFour_TextThree{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF; 
    margin-top: 30px;
    margin-bottom: 70px;       
}
.sectionFour_Review{
    margin-bottom: 13px;
}
.Review_Avatar{
    margin-bottom: 5px;

}
.Review_AvatarTwo{
    position: relative;
    left: -20px;
}
.Review_AvatarThree{
    position: relative;
    left: -40px;
}
.Review_AvatarFour{
    position: relative;
    left: -60px;
}
.Review_Frame1{
    display: flex;
}
.Review_Frame1>img{
    margin-right: 5px;
}
.Review_Frame1>div{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF;
}
.sectionFour_Team1{
    grid-area: imgOne;
}
.sectionFour_Team2{
    grid-area: imgTwo;
}
.sectionFour_Team3{
    grid-area: imgThree;
}
.sectionFour_buttonArea{
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../Image/BG_button.png);
    height: 39px;
    width: 229px;
    letter-spacing: 8px;
    grid-area: ButtonArea;
    align-self: center;

}
.sectionFour_button{
    text-decoration: none;
    color:rgb(255, 255, 255);
}


.sectionFive{
    height: 98px;
}
.sectionFive>.container{
    position: relative;
    top: 390px;
    display: flex;
    justify-content: space-evenly;
}
.LogoOne_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 43.78px;
    color: #6D7D7D;
}
.LogoTwo_text{
    font-weight: 400;
    font-size: 32px;
    line-height: 50.24px;
    color: #6D7D7D;
}
.LogoThree_text{
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #6D7D7D;
}
.LogoFour_text{
    font-weight: 700;
    font-size: 16px;
    line-height: 17.86px;
    color: #6D7D7D;
}


.sectionSix{
    height: 524px;
}
.sectionSix>.container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    'Services1 TextTwo'
    'Services2 TextTwo'        
    'Services3 TextThree';        
}




.img-line{
    display: flex;
}
.img_box{
    height: 515px;
    width: 480px;
}
.titleBlog{
    color: #6D7D7D;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 8px;
    
}
.secondTitleBlog{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
}
.boton_blog{
    display: flex;
}
.P_SectionEight{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    color:#6D7D7D;   
} 
p~a{
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 8px;
}
.blog1,.blog2,.blog3{
    padding-right: 25px;
}
.text{
    padding-left: 25px;
}
.top_blog{
    text-align: center;
    width: 1140px;
}
.blog{
    padding-top: 110px;
}